@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  letter-spacing: 2px;
  font-weight: 500;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

li {
  text-decoration: none;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
  padding: 0;
}

body {
  background: url("/static/index/img/bg.png");
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

* {
  letter-spacing: normal;
  font-weight: 400;
}

body {
  background: #dedede;
}

input {
  height: 45px;
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  border: 2px solid #dedede;
  border-radius: 5px;
  padding-left: 40px;
}

input:focus {
  outline: none;
  border: 2px solid #919192;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reg-container {
  max-width: 415px;
  width: 100%;
  background: #f2f2f2;
  padding: 30px 30px 30px 30px;
}

.reg-container:before {
  content: 'Регистрация';
  overflow: hidden;
  margin-top: -110px;
  margin-left: -30px;
  display: block;
  position: absolute;
  height: 545px;
  max-width: 415px;
  width: 100%;
  -webkit-box-shadow: 0 6px 50px #d9e5de;
          box-shadow: 0 6px 50px #d9e5de;
  border-radius: 20px;
  z-index: -2;
  background: linear-gradient(45deg, #9999FF 33%, #23CE6B 66%);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s infinite linear;
          animation: gradient 10s infinite linear;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 23px;
  margin-bottom: 30px;
  padding: 30px 0 30px 30px;
}

.reg-container a > i {
  position: absolute;
  color: #fff;
  font-size: 25px;
  margin-top: -80px;
  margin-left: 335px;
}

.reg-container-auth::before {
  content: 'Авторизация';
  height: 443px;
}

.form-field {
  margin-bottom: 13px;
}

.form-field:last-child {
  margin-bottom: 30px;
}

.button {
  display: block;
  font-weight: bold;
  font-size: 14px;
  height: 45px;
  width: 100%;
  border-radius: 5px;
  color: #f2f2f2;
  text-transform: uppercase;
  text-align: center;
  line-height: 45px;
  letter-spacing: 1px;
  border: none;
  background: linear-gradient(45deg, #9999FF 33%, #23CE6B 66%);
  background-size: 400% 400%;
  -webkit-animation: gradient 10s infinite linear;
          animation: gradient 10s infinite linear;
  -webkit-transition: all .1s;
  transition: all .1s;
}

.btn-google {
  color: #f2f2f2;
  background: #ce3325;
  letter-spacing: normal;
  -webkit-transition: 1s;
  transition: 1s;
}

.btn-google:hover {
  letter-spacing: 3px;
  color: #f2f2f2;
}

.divinder {
  font-weight: 500;
  font-size: 16px;
  line-height: 14px;
  color: #919192;
  text-align: center;
  padding: 15px 0;
}

.form-fields .fa-solid {
  display: block;
  position: absolute;
  color: #dedede;
  margin-top: 16px;
  margin-left: 15px;
}
